@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Junge&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --gold: #d4af37;
  --black: #28282b;
  --white: #fffff4;
}

body {
  background-color: var(--black);
  font-family: "Junge", cursive;
  color: var(--white);
}

#root {
  margin: 0 16px;
}

/* H E A D E R */
header {
  position: relative;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 16px 0;
}

.logo {
  font-family: "Irish Grover", sans-serif;
  color: var(--gold);
  width: 130px;
  text-align: center;
  font-size: 1.5rem;
}

.menu-icon {
  width: 32px;
  height: 32px;
}

.float-nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0;
  width: 300px;
  right: 0;
  background-color: rgba(100, 100, 100, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.nav-btn {
  width: 100%;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  border: none;
}
/* - - - - - - - - - - */

/* F O O T E R */
footer {
  display: flex;
  height: 50px;
  font-family: "Irish Grover", sans-serif;
  font-size: 1rem;
  border-top: 2px solid var(--gold);
  justify-content: center;
  align-items: center;
}
/* - - - - - - - - - - */

/* H O M E   P A G E */
.hero-img {
  width: 100%;
  /* height: 100dvh; */
  object-fit: cover;
  object-position: center;
}

.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  height: 500px;
  text-align: center;
  line-height: 1.5rem;
}

.slogan-heading {
  font-size: 1.5rem;
  color: var(--gold);
}
/* - - - - - - - - - - */

/* M E N U  P A G E */
.menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}

.menu-list > h6 {
  color: var(--gold);
  text-decoration: underline;
  font-size: 1.5rem;
  flex-grow: 1;
  width: 100%;
  letter-spacing: 0.3rem;
}
.menu-list div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.menu-list div:nth-child(2) {
  flex-grow: 1;
}
/* - - - - - - - - - - */
